<h1 id="page_title">Stuff I've Climbed</h1>

<div id="posts_wrapper" class="skinny_wrapper">
	<% if @climbs.count.zero? %>
		<p>No climbing posts created yet.</p>
	<% end %>

	<% @climbs.each do |climb| %>
		<div class="post">
			<p class="date"><%= climb.created_at.strftime("%A, %B %d") %></p>
			<h2>
				<%= link_to climb do %>
					<%= climb.title %> 
					<span class="grade"><%= climb.grade %></span>	
				<% end %>
			</h2>
			<hr>
		</div>
	<% end %>
</div>

<%= will_paginate @climbs %>