<div class="wrapper clearfix">
	<div class="homepage_content">
		<div class="bounding_box">
			<h2>
				Current and recent jobs:
			</h2>
			<hr>
			<p>
				<%= link_to 'http://www1.linkit.com/', target: :_blank do %>
					<%= image_tag 'linkit.jpg', :class => "current_work" %>
				<% end %>

				<%= link_to 'https://www.customink.com/', target: :_blank do %>
					<%= image_tag 'customink.png' %>
				<% end %>

				<%= link_to 'https://www.codecademy.com/', target: :_blank do %>
					<%= image_tag 'codecademy.png' %>
				<% end %>

				<%= link_to 'https://www.openlink.com/en/', target: :_blank do %>
					<%= image_tag 'openlink.png' %>
				<% end %>
			</p>
			<p>
				Starting Aug. 13, I begin work full time at <span class="em">LinkIt!</span> as a technical account manager. Previously, I worked as a back-end software engineering intern at <span class="em">Custom Ink</span>, part-time as a consultant advisor at <span class="em">Codecademy</span>, and as a desktop and mobile product engineering intern at <span class="em">Openlink</span>.
			</p>
		</div>
	</div>
</div>