<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<%= render 'about' %>
	</div>
	<div class="col-2 homepage_content">
		<%= render 'climbs' %>
	</div>
	<div class="col-3 homepage_content">
		<%= render 'projects' %>
	</div>
	<br>
</div>

<%= render 'jobs' %>
<%= render 'icons' %>