<h1 id="page_title">Stuff I've Built</h1>

<div id="posts_wrapper" class="skinny_wrapper">
	<div class="post">
		<p class="date">Monday July 30th</p>
		<h2><%= link_to "Project One", '#' %></h2>
		<hr>
	</div>
	<div class="post">
		<p class="date">Sunday July 29th</p>
		<h2><%= link_to "Project Two", '#' %></h2>
		<hr>
	</div>
	<div class="post">
		<p class="date">Saturday July 28th</p>
		<h2><%= link_to "Project Three", '#' %></h2>
		<hr>
	</div>
	<div class="post">
		<p class="date">Friday July 27th</p>
		<h2><%= link_to "Project Four", '#' %></h2>
		<hr>
	</div>
	<div class="post">
		<p class="date">Thursday July 26th</p>
		<h2><%= link_to "Project Five", '#' %></h2>
		<hr>
	</div>
	<div class="post">
		<p class="date">Wednesday July 25th</p>
		<h2><%= link_to "Project Six", '#' %></h2>
		<hr>
	</div>
</div>

<%= render 'pagination' %>