<div id="post_show_content" class="skinny_wrapper wrapper_padding">
	<header>
		<p class="date">Monday July 30th</p>
		<h1>Project One</h1>
		<hr>
	</header>

	<div id="content">
		<h2>Brunch banjo messenger bag</h2>
		<p>
			 Slow-carb meggings pop-up artisan chillwave tacos hella pok pok. Mlkshk flannel brunch, kickstarter DIY YOLO kinfolk cronut kombucha wolf cred gochujang godard taiyaki mixtape. Pok pok normcore beard actually migas kombucha knausgaard chia banh mi skateboard. Biodiesel 8-bit activated charcoal kinfolk kitsch pug kickstarter fingerstache affogato kombucha cornhole etsy. Occupy hella meditation, beard lomo poutine bushwick fixie. Chambray four dollar toast four loko, offal try-hard neutra pok pok tumeric cornhole. Hammock banh mi kale chips gastropub jianbing mustache messenger bag palo santo glossier affogato copper mug locavore.
		</p>

		<p>
			Four loko echo park pinterest scenester seitan cloud bread. Neutra lo-fi man braid trust fund vice vape actually 3 wolf moon leggings portland woke yuccie pok pok. Mumblecore williamsburg pitchfork adaptogen meh art party quinoa photo booth wolf craft beer tofu tacos twee jianbing. Microdosing portland flannel, fixie small batch poke tumeric photo booth four dollar toast. Normcore whatever pour-over, lumbersexual roof party fingerstache 3 wolf moon bespoke taxidermy letterpress.
		</p>

		<p>
			Vice hell of tilde subway tile. Pop-up beard sriracha bespoke cornhole church-key try-hard fingerstache meh XOXO. Mixtape post-ironic pinterest, truffaut pok pok meh chartreuse butcher lumbersexual coloring book +1 gochujang affogato. Banjo typewriter thundercats hoodie, snackwave humblebrag hella wayfarers kickstarter. Jianbing mustache fingerstache gochujang copper mug drinking vinegar. Blog synth hashtag, shaman flannel wolf man bun gentrify pop-up snackwave humblebrag butcher.
		</p>
	</div>

	<hr>

	<div id="share_box">
		<p>Share Project One</p>
		<%= link_to '#' do %>
			<%= fa_icon 'twitter' %>
		<% end %>
		<%= link_to '#' do %>
			<%= fa_icon 'facebook' %>
		<% end %>
		<%= link_to '#' do %>
			<%= fa_icon 'google-plus' %>
		<% end %>
	</div>

	<hr>
</div>
